body {
    font-family: 'RNS Sanz', sans-serif, monospace;
    font-size: 15px;
}

.container.mx-auto {
    padding-left: 15px;
    padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cormorant Garamond", serif;
}

.the-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'RNS Sanz', sans-serif, monospace;
        margin-bottom:6px;
    }

    p{
        margin-bottom:10px;
    }
}

.wpcf7 {
    .wpcf7-response-output {
        margin: 24px 0px 0px 0px !important;
        padding: 0 !important;
        border: 0 !important;
        text-align: center;
    }
}

#twPopover {
    inset: unset;
    top: calc(anchor(bottom) + 15px);
    right: anchor(right);
}

*,
::before,
::after {
    --tw-border-style: solid;
    --tw-border-width: 0;
}

.ff-cormorant {
    font-family: "Cormorant Garamond", serif;
}

.bg-dark {
    background-color: #1C1F1E;
}

.bg-light {
    background-color: #E9DDD7;
}

.color-dark {
    color: #1C1F1E !important;
}

.color-cream {
    color: #E9DDD7 !important;
}

.bg-cream {
    background: #E9DDD7;
}

header {
    color: #fff;
}

.section-head {

    .section-title {
        color: #1C1F1E;
    }

    .subtitle {
        color: #1C1F1E;
    }

    &.sh-line {

        position: relative;

        &::after {
            position: absolute;
            left: 0;
            right: 0;
            content: '';
            display: block;
            width: 50%;
            background: #E9DDD7;
            height: 2px;
            margin: 0 auto;
        }

        &.sh-line-right::after {
            right: 0;
            left: inherit;
        }

        &.sh-line-bottom::after {
            bottom: -29px;
        }
    }
}

.part-main-banner {

    &::before {
        content: '';
        height: 100%;
        width: 100%;
        background: rgba(28, 28, 28, 0.60);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 8;
    }
}

.form-area {

    input::placeholder {
        color: #1C1F1E;
    }
}

.form-area input:not([type="submit"]),
.form-area select {
    @apply border-b py-3.5 w-full hover:outline-none focus:outline-none text-[1.15em] font-light;
}

footer {
    background: #1C1F1E;
    color: #E9DDD7;
}

@media screen and (min-width:992px) {

    .container.mx-auto {
        max-width: 1320px;
    }
}